<div id="footer">
    <div class="container text-center"><div>© 2015 OXNY</div><div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-privacy">
      <div class="modal-dialog modal-lg">
        <div class="modal-content text-left">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">個人情報保護方針</h4>
            <p>

<br/>
■個人情報の取り扱いについて
われわれはマッチアラーム（以下、本サイト）をご利用になるみなさまの個人情報（以下の定義に従います）が重要なプライバシー情報と認識し、細心の注意を払い、以下の方針にもとづいて適正な管理・運用を行っていますので、本サイトをご利用いただく前に必ずお読みください。本サイトにおいて個人情報をご登録された場合には、個人情報の取扱いに関して同意をいただいたものといたします。

<br/>
<br/>

１．個人情報
個人情報とは、ユーザー個人の関する情報であって、その情報を構成する氏名、住所、電話番号、メールアドレス、勤務先、生年月日その他の書き込み等によりユーザー個人を識別できるものも個人情報に含まれます。
<br/>
<br/>

２．個人情報の取得と目的
個人情報の取得と利用の目的及び活用範囲は以下の通りです。
(1) 本サイトにおけるユーザーへのサービス提供と会員サービスにおける個人認証
(2) ユーザーの年齢確認
(3) イベント参加の際の会員識別のため
(4) 電子メールでの連絡、お問い合わせへの返答
(5) アンケート、キャンペーンへの応募、プレゼント発送等
<br/>
<br/>

３．個人情報を提供いただかなかった場合に生じる結果について
本サイト内の各サービスの実施において、それぞれ必要となる個人情報項目を入力いただかない場合は、各々のサービスを受けられないことがあります。
<br/>
<br/>

４．個人情報の第三者への開示
ユーザーの個人情報について、ユーザーご本人の同意を得ずに第三者に開示することは、原則いたしません。提供先・提供情報内容を特定した上で、ユーザーの同意を得た場合に限り開示します。但し以下の場合は、関係法令に反しない範囲で、ユーザーの同意なくユーザーの個人情報を開示することがあります。
(1) ユーザーが第三者に不利益を及ぼすと判断した場合
(2) 裁判所、検察庁、警察、弁護士会、消費者センターまたはこれらに準じた権限を有する機関から、個人情報についての開示を求められた場合
(3) ユーザーご本人から明示的に第三者への開示または提供を求められた場合
(4) 法令により開示または提供が許容されている場合
(5) その他ユーザーご本人へサービスを提供するために必要であるとわれわれが合理的に判断した場合
<br/>
<br/>

５．第三者の範囲
以下の場合に、個人情報の提供を受けるものは、第三者に該当しないものとします。
(1) われわれが利用目的の達成に必要な範囲内において個人情報の取扱いに全部または一部を委託する場合
(2) その他の事由による事業の承継に伴って個人情報が提供される場合
<br/>
<br/>

６．免責
以下の場合は、第三者による個人情報の取得に関し、われわれは何らの責任を負いません。
(1) ユーザー自らが 本サイト上の機能または別の手段を用いて他のユーザーに個人情報を明らかにする場合
(2) 活動情報またはその他のユーザーが本サイト上に入力した情報により、期せずして本人が特定できてしまった場合
(3) ユーザーご本人以外のユーザー個人を識別できる情報（ID・パスワード等）を入手した場合
<br/>
<br/>

７．統計データの利用
われわれは提供を受けた個人情報をもとに、個人を特定できないよう加工した統計データを作成することがあります。個人を特定できない統計データについては、われわれは何ら制限なく利用することができるものとします。
<br/>
<br/>

８．迷惑商用Eメールまたは「スパム」
スパムとは、インターネット用語で、あなたが依頼しないのに送信されてくる、マーケティング用または商用のEメールを指します。われわれがこのような行為をサポートしたり、容認したりすることはありません。
<br/>
<br/>

９．個人情報の変更等
ユーザーは本サイトにおいて登録した個人情報をいつでも変更・追加・削除することができます。
本サイトにアクセスできる不特定多数のユーザは、あなたが提供された情報にアクセスし、それをダウンロード、および印刷できるということにご注意ください。あなたが当サイトに提供した情報が他者によって使用されたり、開示されることに関しては、われわれは責任を負いません。
<br/>
<br/>


最新改訂日：2015年1月18日

            </p>
          </div>
          <br/>

        </div>
      </div>
    </div>

</div>
