<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <body class="page-header">
    <section class="featured" id ="featured">
      <div class="container">
        <div class="row mar-bot40">
          <div class="col-md-6 col-md-offset-3">

            <div class="align-center">
              <i class="fa fa-flask fa-5x mar-bot20"></i>
              <h2 class="slogan">OXNY<br/>Scent of Love</h2>
              <p>
              科学的に出会いを１００％サポート。<br/>
              遺伝子的に合う人を紹介。<br/>
              OXNYで赤い糸で繋がった運命の人と出会おう。<br/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- services -->
    <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-lg-12" >
          <div class="align-center">
            <i class="fa fa-male fa-5x mar-bot20"></i>
            <i class="fa fa-heart fa-3x mar-bot20"  style="color: red;"></i>
            <i class="fa fa-female fa-5x mar-bot20"></i>
            <h4 class="text-bold">01.17.2015(Sat)<br/>~プレリリースイベント開催~</h4>
            <p>健康的に運動して楽しく騒ごう。楽しくはしゃいだ後はマッチングパーティー！<br/>OXNY独自の方法でマッチングします。<br/>運命の出会いがすぐそこに・・・？</p>
          </div>
        </div>
      </div>

    </div>
    </section>

    <!-- spacer section:testimonial -->
    <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                      <h5>
                        出会いが多すぎてもう誰がいいか分からない。でも最高のパートナーと会いたい。そして最高の子供を授かりたい。<br/>OXNYが遺伝子的に合っているパートナーを紹介します。今日運命の人と会えるかも？
                      </h5>
                      <br/>
                      <span class="author">&mdash; OXNY <a href="#">www.oxny.jp</a></span>
                    </div>

                </div>
              </div>
          </div>

      </div>
    </div>
    </section>

    <!-- about -->
    <section id="section-about" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
              <p>大手シンクタンク出身者達が本気で出会いの在り方を変えます。</p>
            </div>
          </div>
        </div>

          <div class="row align-center mar-bot40">
            <div class="col-md-4">
              <div class="team-member">
                <figure class="member-photo"><img src="http://stat.ameba.jp/user_images/20140701/12/cesspro/96/a9/j/t02200220_0300030012989880984.jpg" alt="" /></figure>
                <div class="team-detail">
                  <h4>K. Kawabata</h4>
                  <span>Planner/Web developer/Co-founder</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member">
                <figure class="member-photo"><img src="http://stat.ameba.jp/user_images/20140701/12/cesspro/96/a9/j/t02200220_0300030012989880984.jpg" alt="" /></figure>
                <div class="team-detail">
                  <h4>T. Tuchida</h4>
                  <span>Lead Programmer/Co-founder</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-member">
                <figure class="member-photo"><img src="http://stat.ameba.jp/user_images/20140701/12/cesspro/96/a9/j/t02200220_0300030012989880984.jpg" alt="" /></figure>
                <div class="team-detail">
                <h4>D. Sugimoto</h4>
                  <span>Business Developer/Co-founder</span>
                </div>
              </div>
            </div>
          </div>

    </div>
    </section>
    <!-- /about -->

    <!-- spacer section:stats -->
    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
      <div class="container">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">DNA=Scent</blockquote>
        <p class="color-white">OXNY</p>
            </div>
      </div>
    </section>

    <!-- section works -->
    <section id="section-works" class="section appear clearfix">
      <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">開催場所</h2>
              <h4 class="section-heading animated" data-animation="bounceInUp">（恵比寿）</h2>
            </div>
          </div>
          <div class="row align-center mar-bot40">
              <div class="col-md-4">
                <div class="team-member">
                  <figure class="place-photo"><img src="http://uds.gnst.jp/rest/img/gmdv10yh0000/s_0015.jpg?t=1371405390" alt="" /></figure>
                  <div class="team-detail">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-member">
                  <figure class="place-photo"><img src="http://uds.gnst.jp/rest/img/gmdv10yh0000/s_0015.jpg?t=1371405390" alt="" /></figure>
                  <div class="team-detail">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-member">
                  <figure class="place-photo"><img src="http://uds.gnst.jp/rest/img/gmdv10yh0000/s_0015.jpg?t=1371405390" alt="" /></figure>
                  <div class="team-detail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
    <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">OXNYが新しい出会いの形を提案します。</blockquote>
        <p class="color-white">OXNY</p>
            </div>
    </section>

    <!-- contact -->
    <section id="section-contact" class="section appear clearfix">
      <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
              <p>info@oxny.com</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

          </div>
        </div>
          <!-- ./span12 -->
        </div>

      </div>
    </section>

  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
        </div>
      </div>

    </div>

  </section>
  <a href="#featured" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  </body>
</html>
