<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <body class="page-header">
    <section class="featured" id ="featured">
      <div class="container">
        <div class="row mar-bot40">
          <div class="col-md-6 col-md-offset-3">

            <div class="align-center">
              <img src="https://s3-ap-northeast-1.amazonaws.com/oxny/LOGO/Flowerflasklogo_black.png" class="logo" alt="OXNY logo">
              <h2 class="slogan">OXNY<br/>Scent of Love</h2>
              <h4 class="slogan">~キセキ、だが必然的な出会い~</h4>
              <p>
              招待された選ばれし人と出会える。<br/>
              OXNY(オキシニー)が最高のシチュエーションと<b>安全な場所</b>を提供します。<br/>
              <p style="color:#AA9A00">完全招待制</p>

<!--               科学的に出会いをサポート。<br/>
              遺伝子的に合う人を紹介。<br/>
              OXNYで赤い糸で繋がった運命の人と出会おう。<br/> -->
              </p>
            </div>
          </div>
        </div>
          <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle social-circle-white social-white-border">
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Foxny.jp&t=OXNY%20-%20%E3%82%AD%E3%82%BB%E3%82%AD%E3%80%81%E3%81%A0%E3%81%8C%E5%BF%85%E7%84%B6%E7%9A%84%E3%81%AA%E5%87%BA%E4%BC%9A%E3%81%84%20-%20%E3%82%AF%E3%83%AD%E3%83%BC%E3%82%BA%E3%83%89%E3%83%99%E3%83%BC%E3%82%BF%E7%99%BB%E9%8C%B2%E5%8F%97%E4%BB%98%E4%B8%AD%EF%BC%88%E6%8B%9B%E5%BE%85%E5%88%B6" class="icoFacebook" title="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Foxny.jp&text=OXNY%20-%20%E3%82%AD%E3%82%BB%E3%82%AD%E3%80%81%E3%81%A0%E3%81%8C%E5%BF%85%E7%84%B6%E7%9A%84%E3%81%AA%E5%87%BA%E4%BC%9A%E3%81%84%20-%20%E3%82%AF%E3%83%AD%E3%83%BC%E3%82%BA%E3%83%89%E3%83%99%E3%83%BC%E3%82%BF%E7%99%BB%E9%8C%B2%E5%8F%97%E4%BB%98%E4%B8%AD%EF%BC%88%E6%8B%9B%E5%BE%85%E5%88%B6:%20http%3A%2F%2Foxny.jp" class="icoTwitter" title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/share?url=http%3A%2F%2Foxny.jp" class="icoGoogle" title="Share on Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="mailto:?subject=OXNY%20-%20%E3%82%AD%E3%82%BB%E3%82%AD%E3%80%81%E3%81%A0%E3%81%8C%E5%BF%85%E7%84%B6%E7%9A%84%E3%81%AA%E5%87%BA%E4%BC%9A%E3%81%84%20-%20%E3%82%AF%E3%83%AD%E3%83%BC%E3%82%BA%E3%83%89%E3%83%99%E3%83%BC%E3%82%BF%E7%99%BB%E9%8C%B2%E5%8F%97%E4%BB%98%E4%B8%AD%EF%BC%88%E6%8B%9B%E5%BE%85%E5%88%B6&body=:%20http%3A%2F%2Foxny.jp" target="_blank" title="Email"><i class="fa fa-envelope"></i></a></li>
                    </ul>
        </div>
      </div>
    </section>

    <!-- video -->
<!--     <section id="section-services" class="section bg-black">
 -->
          <div class="embed-container">
              <iframe width="560" height="315" src="//www.youtube.com/embed/td6VmSrgd5M" allowfullscreen=""></iframe>
          </div>

<!--     </section>
 -->
    <!-- services -->
    <section id="sign-up-page" class="section pad-bot30 bg-white">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-lg-12" >
          <div class="align-center">
            <i class="fa fa-male fa-5x mar-bot20"></i>
            <i class="fa fa-heart fa-3x mar-bot20"  style="color: #d9534f;"></i>
            <i class="fa fa-female fa-5x mar-bot20"></i>
            <h4 class="text-bold">02.14.2015(Sat)<br/>~プレリリースイベント開催~</h4>
            <p>OXNY独自の方法でが選ばれし異性とマッチングします。<br/>必然の出会いがすぐそこに？</p>

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="//Hackmai.us9.list-manage.com/subscribe/post?u=65c2af157a1350ff87ce9a0c7&amp;id=9cd4d33826" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
<!--               <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="メールアドレス入力"> -->

              <span class="input input--minoru">
                <input class="input__field input__field--minoru required email" type="email" name="EMAIL" id="mce-EMAIL" placeholder="例：example:oxny.com" />
                <label class="input__label input__label--minoru" for="email">
                  <span class="input__label-content input__label-content--minoru">Eメール</span>
                </label>
              </span>
              <span class="input input--minoru">
                <input class="input__field input__field--minoru" name="NAME" class="required" id="mce-NAME"type="text" placeholder="例：オキシ ニオ" />
                <label class="input__label input__label--minoru" for="input-5">
                  <span class="input__label-content input__label-content--minoru">姓名(カタカナ)</span>
                </label>
              </span>
              <span class="input input--minoru">
                <input class="input__field input__field--minoru" name="AGE" class="required" id="mce-AGE" type="text" placeholder="例：27" />
                <label class="input__label input__label--minoru" for="input-6">
                  <span class="input__label-content input__label-content--minoru">年齢</span>
                </label>
              </span>
            </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_65c2af157a1350ff87ce9a0c7_9cd4d33826" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="プレ参加" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->

            <br />
          </div>
        </div>
      </div>

    </div>
    </section>

    <!-- spacer section:testimonial -->
    <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                      <h3 style="color:#ffffff;">
                        <br/>OXNYは貴方のために安全な出会いの場を提供します。 <br/><br/>今日キセキの出会いが起るかも？
                      </h3>
                      <br/>
                      <span class="author"><!-- &mdash; OXNY  --><a href="#">&nbsp;www.oxny.jp</a></span>
                    </div>

                </div>
              </div>
          </div>

      </div>
    </div>
    </section>

    <!-- about -->
    <section id="section-about" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">About us</h2>
              <p>研究所出身者達が本気で出会いの在り方を変えます。</p>

              <!-- Large modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Our Team</button>

              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Our Team</h4>
                    </div>

                    <div class="row mar-right20 mar-left20 mar-top15 mar-bot15">
                      <div class="col-md-4">
                        <div class="team-member">
                          <figure class="member-photo"><img src="http://www.iconpon.com/iconmaker/images/ym-122506549301107220358.png" alt="" /></figure>
                          <div class="team-detail">
                            <h4>K. Kawabata</h4>
                            <span>CEO/Co-founder</span>
                            <p>新卒で大手シンクタンク入社。<br/>米大学院で起業学/ビジネス/ITを学ぶ。日ベンチャーキャピタルにて国内外投資案件のサポート・新規事業の立ち上げを経験。退職後、米Programming Boot CampにてRuby on Railsを学び、丼デリバリーサービスHACKMAIで起業。事業を友人に譲り現在にいたる。</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="team-member">
                          <figure class="member-photo"><img src="http://www.iconpon.com/iconmaker/images/ym-122506549301107220358.png" alt="" /></figure>
                          <div class="team-detail">
                            <h4>T. Tuchida</h4>
                            <span>CTO/Co-founder</span>
                            <p>新卒で大手シンクタンク入社。</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="team-member">
                          <figure class="member-photo"><img src="http://www.iconpon.com/iconmaker/images/ym-122506549301107220358.png" alt="" /></figure>
                          <div class="team-detail">
                          <h4>D. Sugimoto</h4>
                            <span>COO/Co-founder</span>
                            <p>新卒で大手シンクタンク入社。</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    </section>
    <!-- /about -->

    <!-- spacer section:stats -->
    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
      <div class="container">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">行動に出るのもいいし、尻込みして奇跡を願うのもいいだろう。<br/>確かに奇跡はすばらしい。<br/>いつ起こるのかはわからないが</blockquote>
                <p class="color-white">- Peter Drucker</p>
            </div>
      </div>
    </section>

    <!-- section works -->
    <section id="section-works" class="section appear clearfix">
      <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">開催場所</h2>
              <h4 class="section-heading animated" data-animation="bounceInUp">（恵比寿）</h2>
            </div>
          </div>
          <div class="row align-center mar-bot40">
              <div class="col-md-4">
                <div class="team-member">
                  <figure class="place-photo"><img src="http://uds.gnst.jp/rest/img/gmdv10yh0000/s_0015.jpg?t=1371405390" alt="" /></figure>
                  <div class="team-detail">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-member">
                  <figure class="place-photo"><img src="http://uds.gnst.jp/rest/img/gmdv10yh0000/s_0015.jpg?t=1371405390" alt="" /></figure>
                  <div class="team-detail">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-member">
                  <figure class="place-photo"><img src="http://uds.gnst.jp/rest/img/gmdv10yh0000/s_0015.jpg?t=1371405390" alt="" /></figure>
                  <div class="team-detail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
    <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
            <div class="align-center pad-top40 pad-bot40">
              <blockquote class="bigquote color-white">OXNYでキセキ、だが必然的な出会い。</blockquote>
              <p class="color-white">OXNY</p>
            </div>
    </section>

    <!-- contact -->
    <section id="section-contact" class="section appear clearfix">
      <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
              <p>info@oxny.jp</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

          </div>
        </div>
          <!-- ./span12 -->
        </div>

      </div>
    </section>

  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/pages/OXNY-Scent-of-Love-/1508582752763676" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
        </div>
      </div>

    </div>

  </section>
  <a href="#featured" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  </body>
</html>
