<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <body class="page-header">
    <section class="featured">
      <div class="container">
        <div class="row mar-bot40">
          <div class="col-md-6 col-md-offset-3">

            <div class="align-center">
              <i class="fa fa-flask fa-5x mar-bot20"></i>
              <h2 class="slogan">MATCHコン<br/>すぐ、会える</h2>
              <p>
              新しい出会いがすぐそこに。ボタン一つで合コンをセットアップ。<br/>
              面倒なメッセージのやりとり、お店の予約とさようなら。<br/>
              MATCHコンが新たらしい出会いを完璧にサポートします。

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- services -->
    <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-lg-4" >
          <div class="align-center">
            <i class="fa fa-user fa-5x mar-bot20"></i>
            <h4 class="text-bold">会員、スケジュール登録</h4>
            <p>FACEBOOKでカンタン登録。写真、<br/>プロフィールを決めてみよう。
            　　<br/>＊MATCHコンの審査あり＊
            </p>
          </div>
        </div>

        <div class="col-lg-4" >
          <div class="align-center">
            <i class="fa fa-heart fa-5x mar-bot20"></i>
            <h4 class="text-bold">パートナー選び</h4>
            <p>厳選された人達の中から、お好みのお相手を探してみよう。
            </p>
          </div>
        </div>

        <div class="col-lg-4" >
          <div class="align-center">
            <i class="fa fa-spoon fa-5x mar-bot20"></i>
            <h4 class="text-bold">すぐ、合コン</h4>
            <p>お相手とマッチしたら開催場所と時間が届く。<br/>
            提携レストランでパーティーを楽しもう！ <br/>
            ＊MATCHコン派遣員が場を盛り上げます＊
            </p>
          </div>
        </div>

      </div>

    </div>
    </section>

    <!-- spacer section:testimonial -->
    <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                      <h5>
                        Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
                      </h5>
                      <br/>
                      <span class="author">&mdash; MIKE DOE <a href="#">www.siteurl.com</a></span>
                    </div>

                </div>
              </div>
          </div>

      </div>
    </div>
    </section>

    <!-- about -->
    <section id="section-about" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
            </div>
          </div>
        </div>

          <div class="row align-center mar-bot40">
            <div class="col-md-3">
              <div class="team-member">
                <figure class="member-photo"><img src="img/team/member1.jpg" alt="" /></figure>
                <div class="team-detail">
                  <h4>Jason Doe</h4>
                  <span>User experiences</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <figure class="member-photo"><img src="img/team/member2.jpg" alt="" /></figure>
                <div class="team-detail">
                  <h4>Timothy Clark</h4>
                  <span>Web developer</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <figure class="member-photo"><img src="img/team/member3.jpg" alt="" /></figure>
                <div class="team-detail">
                <h4>Vicky Tan</h4>
                  <span>Web designer</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-member">
                <figure class="member-photo"><img src="img/team/member4.jpg" alt="" /></figure>
                <div class="team-detail">
                <h4>Kevin Peterson</h4>
                  <span>UI designer</span>
                </div>
              </div>
            </div>
          </div>

    </div>
    </section>
    <!-- /about -->

    <!-- spacer section:stats -->
    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
      <div class="container">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
        <p class="color-white">Bootstraptaste</p>
            </div>
      </div>
    </section>

    <!-- section works -->
    <section id="section-works" class="section appear clearfix">
      <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">開催場所</h2>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
            </div>
          </div>
        </div>


      </div>
    </section>
    <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
        <p class="color-white">Bootstraptaste</p>
            </div>
    </section>

    <!-- contact -->
    <section id="section-contact" class="section appear clearfix">
      <div class="container">

        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

          </div>
        </div>
          <!-- ./span12 -->
        </div>

      </div>
    </section>

  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        </div>
      </div>

    </div>

  </section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  </body>
</html>
