/*
#1 =#AA9A00
#2 = #AA9A01
*/
a {
	color: #AA9A00;
}
a:hover {
	color: #AA9A01;
}

/* menu */
.nav>li>a:hover {
	color: #AA9A01;
}

.navbar .navbar-nav > .active > a {
	color: #AA9A01;
}

/* flexslider */
.flex-control-paging li a {
	background: #AA9A00;
}

.flex-direction-nav a:hover{
	background-color:#AA9A00;
}

.testimonial span.author a {
	color: #AA9A00;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #AA9A00;
	box-shadow: 0 0 0 4px #AA9A00;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #AA9A00;
	box-shadow: 0 0 0 8px  #AA9A01;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #AA9A00;
}

/* btn */
.btn-theme {
  background: #AA9A01;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #AA9A00;
}
.btn-cta,.btn-cta.btn-lg {
  background: #AA9A00;
  border-color: #AA9A01;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #AA9A00;
}

/* contact */
.validation {
	color:#AA9A00;
}

/* footer */
.social-circle li a {
	background:#ffffff;
}

.social-white-border li a {
  background:#ffffff;
}

a.scrollup{
	background:#AA9A00;
}
